*{
  padding: 0;
  margin: 0;
}

a{
  color: #fff;
  text-decoration: none;
}

span{
  float: right;
  padding: 0 25px;
  font-size: 36px;
  cursor: pointer;
}

.sidenav{
  height: auto;
  width: 100%;
  background: #282C3455;
  padding: 10px;
  margin-top: 5px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  top: 0;
  right: 0;
  transition: 0.5s ease;
  text-align:center;
  overflow: hidden;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.boxTitle {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  color: white;
  background: #282C34;
  width: 40px;
  height: 40px;
  line-height: 35px;
  border-radius: 50%;
  outline: none;
  z-index: 999;
  user-select: none;
  font-family: Arial;
  text-align: center;
}

.boxContent{
  color: #fff !important;
  z-index: 2;
  position: absolute;
}

form{
  top: 0;
  left: 0;
  width: 500px;
  background: #282C3444;
  padding: 5px 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: fixed;
  z-index: 9999;
  transition: all 0.2s ease-out;
}

input{
  padding: 5px;
  /*margin: 20px;*/
}

.btnSubmit{
  background: #4CAF50;
  color: white;
  border: none;
}

.image img{
  top: 0;
  position: absolute;
  border: 1px double green;
  box-sizing: border-box;
}

.no-image-msg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Arial;
	font-size: 1.3em;
	user-select: none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
